# Created by https://www.toptal.com/developers/gitignore/api/codeigniter,visualstudiocode
# Edit at https://www.toptal.com/developers/gitignore?templates=codeigniter,visualstudiocode

### CodeIgniter ###
*/config/development
*/logs/log-*.php
!*/logs/index.html
*/cache/*
!system/cache/*
!*/cache/index.html
!*/cache/.htaccess

user_guide_src/build/*
user_guide_src/cilexer/build/*
user_guide_src/cilexer/dist/*
user_guide_src/cilexer/pycilexer.egg-info/*

#codeigniter 3
application/logs/*
!application/logs/index.html
!application/logs/.htaccess
/vendor/

#codeigniter 4
writable/cache/*
!writable/cache/index.html
writable/debugbar/*
!writable/debugbar/gitkeep.html
writable/logs/*
!writable/logs/index.html
!writable/logs/.htaccess
writable/session/*
!writable/session/index.html
writable/upload/*
!writable/upload/index.html

### CodeIgniter Patch ###

### VisualStudioCode ###
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets

# Local History for Visual Studio Code
.history/

# Built Visual Studio Code Extensions
*.vsix

### VisualStudioCode Patch ###

# Ignore all local history of files
.history
.ionide

# End of https://www.toptal.com/developers/gitignore/api/codeigniter,visualstudiocode
